.style-0 { background:#fff; }
.style-0 .thing { border-color:#fff; }

.style-1 {background:#8cf;}
.style-1 .thing {border-color:#8cf;background:#bef;}

.style-2 {background:#474;}
.style-2 .thing {border-color:#141;background:#ada;}
.style-2 .thing a:hover, .thing a:active {background:#141;color:#fff;}
.style-2 .arrow {background:#141;}

.style-3 {background:#953;}
.style-3 .thing {border-color:#620;background:#c96;}
.style-3 .thing a:hover, .thing a:active {background:#620;color:#fff;}
.style-3 .arrow {background:#620;}

.style-4 {background:#a97;}
.style-4 .thing {border-color:#a97;background:#cb9;font-family:Georgia,serif;font-size:10pt;box-shadow:0px 2px 2px #321;}
.style-4 .thing, .thing a, .thing a:hover, .thing a:active {color:#321;}
.style-4 .thing a:hover, .thing a:active {color:#852;background:transparent;text-shadow:0px 0px 2px #fff;}
.style-4 .arrow {background:transparent;color:#321;}

.style-5 .thing{border-radius:10px;-moz-border-radius:10px;padding:5px;border-top:#fff solid 2px;border-left:#ddd solid 2px;border-right:#ddd solid 2px;border-bottom:#bbb solid 2px;-moz-box-shadow: 0px 2px 3px #000;padding-right:1px;}.arrow{border-radius:10px;-moz-border-radius:10px;padding-left:4px;padding-right:4px;}.thing a{border-radius:10px;-moz-border-radius:10px;}

.style-6 {background:#000;}
.style-6 .thing {border-color:#000;background:#222;color:#fff;}
.style-6 .thing a {color:#fff;}
.style-6 .thing a:active {background:#fff;color:#000;}

/*
.style-7 {background:url(UniverseBG.jpg);}
*/
.style-7 .thing {border-color:#fff;border-width:1px;background:transparent;color:#fff;box-shadow:0px 0px 8px #428,0px 0px 4px #fff inset;}
.style-7 .thing a {color:#fff;background:rgba(0,0,0,0.5);}
.style-7 .thing a:hover, .thing a:hover .arrow {background:#fff;color:#000;}
